body {
    background-color: rgb(0, 0, 0);
}

h1 {
    color: white;
}

h1 {
    text-align:center;
    font-family: "Times New Roman", Times, serif;
}


h2 {
    border: 1px white solid;
    background-color:rgb(88, 88, 88);
    font-family: "Times New Roman", Times, serif;
    color: white;
}

p {
    color: white;
    background-color:rgb(88, 88, 88) ;
    font-family: "Lucida Console", "Courier New", monospace;
    line-height:1cm;
}  

a:hover {
    color:green;
}

a:visited{
    color: rgb(39, 39, 39);
}

ul {
    background-color:rgb(88, 88, 88);
}

h4 {
    text-align:left;
    color: black;
    background-color: white;
    }



    *{
        padding:0;
        margin:0;
        }
    
    nav:nth-of-type(2){
        height:10vh;
        background:rgb(39, 39, 39);
        display: grid;
        place-items: center;
    }
    
    li a{
        color: rgb(255, 255, 255);
        padding:5rem;
        font-size: x-large;
       }
    
    ul{
        display:flex;
        list-style:none;
    }

nav:nth-of-type(1){
    height:15vh;
    background:rgb(39, 39, 39);
    display: grid;
    place-items: center;
    border: 1px white solid;
} 


nav:nth-of-type(3){
    height:5vh;
    background:rgb(39, 39, 39);
    display: grid;
    place-items: center;
} 

nav:nth-of-type(4){
    height:30vh;
    background:rgb(255, 255, 255);
    display: grid;
    place-items: center;
} 

nav:nth-of-type(5){
    height:10vh;
    background:rgb(39, 39, 39);
    display: grid;
    place-items: center;
} 

.bullet {
    color:white
}

.LINE {
    border:0px white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

  .senter {
    text-align:center;
  }

  .right {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: 75%;
  }

  .Middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  .Orange {
      color: orange;
      font-size: larger;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-align: center;
      background-color: rgba(255, 174, 0, 0.418);



  }


  .Apple {
      color: red;
      font-size: larger;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-align: center;
      background-color: rgba(255, 51, 0, 0.315);



  }


  .Banana {
      color: yellow;
      font-size: larger;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-align: center;
      background-color: rgba(251, 255, 0, 0.377);



  }


  .Pear {
      color: green;
      font-size: larger;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-align: center;
      background-color: rgba(43, 177, 50, 0.349);



  }

  h5 {
      color: black;
      background-color: white;
      text-align: center;
      font-size: x-large;
      font-family: fantasy;
  }

  h6 {
      background-color: rgb(20, 0, 66);
      color: blanchedalmond;
      font-size: xx-large;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: center;
  }




#sliderone{
    margin:auto;
    width:1500px;
    margin-top:5px;
}
#sliderone a{
    position:absolute;
}

#sliderone a img{
    padding:10px;
    background:#fff;
    width:400px;
    height:250px
}
#sliderone a:nth-of-type(1){
    animation-name:fader;
    animation-delay:4s;
    animation-duration:1s;
    z-index:20;
}

#sliderone a:nth-of-type(2){
    z-index:10;
}
#sliderone a:nth-of-type(n+3) {
    display:none;
}
@keyframes fader{
    from{opacity:1.0;}
    to{opacity:0.0};
}







#slidertwo{
    margin:auto;
    width:415px;
    margin-top:5px;
}
#slidertwo a{
    position:absolute;
}

#slidertwo a img{
    padding:10px;
    background:#fff;
    width:400px;
    height:250px
}
#slidertwo a:nth-of-type(1){
    animation-name:fader;
    animation-delay:4s;
    animation-duration:1s;
    z-index:20;
}

#slidertwo a:nth-of-type(2){
    z-index:10;
}
#slidertwo a:nth-of-type(n+3) {
    display:none;
}
@keyframes fader{
    from{opacity:1.0;}
    to{opacity:0.0};
}








#sliderthree{
    margin:auto;
    width:1000px;
    margin-top:5px;
}
#sliderthree a{
    position:absolute;
}

#sliderthree a img{
    padding:10px;
    background:#fff;
    width:400px;
    height:250px
}
#sliderthree a:nth-of-type(1){
    animation-name:fader;
    animation-delay:4s;
    animation-duration:1s;
    z-index:20;
}

#sliderthree a:nth-of-type(2){
    z-index:10;
}
#sliderthree a:nth-of-type(n+3) {
    display:none;
}
@keyframes fader{
    from{opacity:1.0;}
    to{opacity:0.0};
}

